*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Lato',sans-serif;
    font-size: 15px;
    scroll-behavior: smooth;
    
}

.clear {
    clear: both;
}
.col-3{
    width: 33.333%;
}

.col-2{
     width: 50%;
}

.col-f{
    width: 100%;
}

.row {
    margin: 0 -8px;
}

.row::after{
    content: "";
    display: block;
    clear: both;
}
.col{
    float: left;
    padding:0 8px;
}


.clear {
    clear: both;
}
.header{
    height: 46px;
    background-color: #000000;
    position: fixed;
    top: 0;
    left :0;
    right: 0;
    z-index: 1;
}
#nav {
    list-style-type: none;
    display: block;
}
#nav > li > a{
    color :#fff;
    line-height: 46px;
}
#nav li a{
    text-decoration: none;
    padding: 0 24px;
}
#nav  li:hover .subnav {
    display: block;
    
}
#nav  li:hover {
    color : #000;
    background-color:#ccc;
}
#nav li {
    display: inline-block;
    position: relative;
}
#nav .fa-caret-down {
    color :#fff;
}

#nav #search {
    float:right;
    font-size: 16px;
}

#nav #search:hover{
    background-color: red;
}

#nav .subnav {
    position :absolute;
    display: none; 
    background-color: #FFFFFF;
    box-shadow: 0 0 10px #000;
}
.subnav li {
    width: 100%;
   line-height: 38px ;
}
#nav .subnav  a{
    color :#000;
    padding-left: 12px;
    padding-right: 40px;
}

.subnav li :hover a{
    color :#000;
    background-color: #ccc;
}

.slider{
    margin-top: 46px;
    padding-top: 50%;
    background: url('/assets/img/1.jpg') top center/ cover no-repeat ;
    position: relative;
    
}
.slider .text {
    position: absolute;
    color: #fff;
    text-align: center;
    width: 100%;
    bottom:48px;
    font-family: "Lato",Arial,sans-serif;
    font-weight: 400;
}
.slider .text-heading {
    margin-bottom: 16px;
}
.content #band{
    max-width: 800px;
    margin-left: auto  ;
    margin-right: auto;
    padding: 64px 16px;
}
.content{
    max-width: 2000px;
    font-family: "Lato",Arial,sans-serif;
    font-weight: 400;
    /* width: 800px; */
    /* padding :64px 16px; */
    
}

.content-section > .heading-section ,.slogan-section{
    text-align: center;
    margin: 15px 0;  
}
.content-section .heading-section {
    font-size: 30px;
    letter-spacing: 4px;
}
.content-section .slogan-section {
    font-size: 15px;
    font-style: italic;
    font-family: 'Lato', sans-serif;
    opacity: 0.7;
}
.content-section .about-content {
    text-align: justify;
    line-height: 1.3;
}
.content .member-list{
    overflow: hidden;
}
.content .member-item {
    float: left;
    padding: 32px 0;
    width:33.33333%;
    text-align: center;
}
.content .member-name {
    font-size: 15px;
    
}
.content .member-img {
    width :154px;
    margin: 15px 0;
    border-radius: 4px;
    /* padding-bottom: 64px; */
}
 #tour-section {
    background-color: #000;
   
}
#tour-section .content-section {
    padding: 64px 16px;
    width: 800px;
    margin-left: auto  ;
    margin-right: auto;
    color: #FFFFFF;
}
.ticket {
    background-color: #FFFFFF;
    list-style-type: none;
    color: #000;
    margin-top: 30px;
}

.ticket li {
    font-size: 15px;
    border-bottom: 1px solid #ddd;
    padding: 8px 16px;
    color :#757575!important
}
.ticket .sold{
    color: #fff !important;
    background-color: #f44336!important;
    padding: 0 8px;
    margin-left: 16px;
    display: inline-block;
}

.ticket .avai{
    margin-right: 16px;
    color: #fff;
    float:right;
    padding :0 6px;
    border-radius: 50%;
    background-color: #000;
    display: inline-block;
    font-size: 15px;
}


.destination-tag {
   
    padding :32px 0;
}


.destination-tag .one-tag {
    width:33.33333%;
    
}

.place-img {
    width: 100%;
    display: block;
}


.destination-tag .infor{
    color:black ;
    text-align: justify !important;
    background-color: #fff; 
    padding: 16px 16px 16px 16px;
}

.infor #place,#time,#des {
    margin :15px 0;
    font-size: 15px;
}

.infor #time{
    opacity: 0.6;
}

.infor .buy {
    background-color: #000000;;
    text-decoration: none;
    text-align: center;
    padding: 8px 16px;
    /* margin-bottom: 16px; */
    color: #FFFFFF;
    display: inline-block;
    margin-top: none !important;
}

.buy:hover{
    background-color:  #334;
    cursor: pointer;
}



.modal .open{
    display: flex;
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.container-modal {
    background-color: #fff;
    width: 900px;
    min-height: 300px;
    position: relative;
    animation: buy-modal-fadein ease .4s;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px;
    color: #FFFFFF;   
    cursor: pointer; list-style: none;
}
.close:hover{
    background-color: #ccc;
    color: #000;
}

.modal-header{
    height: 130px;
    background-color: #009688;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 4px;
    font-size: 30px;
    color: #FFFFFF;
}

.modal-header >i {
    padding-right: 16px;
}

.modal-content{
    padding: 0.15px 16px;
    display: block;
    
}
.modal-content p{
    margin :15px 0;
    font-size: 15px;

}

.modal-content .modal-input{
    border: 1px solid #ccc;
    padding :8px ;
    width: 100%;
    
}

.buy-but{
    background-color: #009688;
    border: none;
    color: #FFFFFF;
    width: 100%;
    padding :16px;
    font-size: 15px;
    margin: 16px 0;
    cursor: pointer;
}

.buy-but:hover{
    background-color: #ccc;
    color: #000;
}

 
.help {
    float: right;
}

.help a{
    color: blue;
}

#contact-section {
    min-height: 200px;
}

#contact-section .content-section{
    width: 800px;
    padding:64px 16px;
    margin-left: auto;
    margin-right: auto;  
}

.contact-line {
    padding:32px 0;
}

.contact-inf{
    font-size: 18px;
}

.contact-form {
    font-size: 15px;
}

.contact-form input {
    border: 1px solid #ccc;
    padding :8px;
    outline: blue;
}

.message {
    width:100%;
    margin-top: 8px;
    outline: #000;
}

.contact-inf i {
    width:30px;
    font-size: 14px;
}

.send-button {
    background-color: black;
    color: #FFFFFF;
     font-size: 15px ;
     padding :8px 16px;
     float: right;
     right:0;
     top: 0;
     cursor: pointer;
     margin-top: 20px;
     margin-right: 8px;
     
}

.footer .img-footer {
    width: 100%;
    height: auto;
    filter :grayscale(50%);
}
.media {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center ;
    padding: 64px 16px;
}
.media-inf {
    opacity: 0.6;
    font-size: 15px;
}

.media-inf i{
    font-size: 25px;
}
.media-inf i:hover{
    opacity: 0.4;
}

.media-end{
    margin: 15px 0;
    display: block;
    text-align: center;
}




@keyframes buy-modal-fadein {
    from{
        opacity: 0;
        transform: translateY(-170px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}